<body>
<h1>Welcome to CSE Motors</h1>
<div id="hero" >
<img class="hero-image" src="/images/vehicles/delorean.jpg" alt="delorean">
<section class="overlay">
<h2>DMC Delorean</h2>
<p>3 cup holders</p>
<p>Superman doors</p>
<p>fuzzy dice</p>
<img  class="button" src="/images/site/own_today.png" own today>
</section>

<div id="content-container">
    <div id="upgrades-container">
<h2>Delorean Upgrades</h2>
<div class="upgrades-images">
<img class="image-1" src="/images/upgrades/flux-cap.png" alt="flux Capacitor">
<img class="image-2"  src="/images/upgrades/flame.jpg" alt="flame Decals">
<img class="image-3" src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Strickers">
<img class="image-4" src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">

</div>
</div>

<div id="reviews-container">
<h2>Delorean Reviews</h2>
<ul>
<li><a>"So fast it's almost like travelling in time" (4/5)</a></li>
<li><a>"Coolest ride on the road"(4/5)</a></li>
<li><a>"I'm feeling McFly!"(5/5)</a></li>
<li><a>"The most futuristic ride of our day"(4.5/5)</a></li>
<li><a>"80s livin and I love it!" (5/5)</a></li>
</ul>
</div>
</div>
</div> 
</div>
</body>
